body

    {
      margin-left: 10px;
      margin-top: 5px;
      background-color: #326872;
       }
      .glyphicon{

color: yellow;

  }
   @font-face {
    font-family: "nasalization";
    src: url("../fonts/nasalization-rg.ttf");
 	
}
  .custom {
    width: 100px;
}
div {
     font-family: 'nasalization', sans-serif;
}


.rectangle{
    height: 125px;
    padding: 15px;
     margin: 0 auto;
        
       
border-radius: 10%;
background-color: silver;
}

   
