
body{
  
  
     margin: 10px;
      background-color: #326872;
       }
      .glyphicon{

color: yellow;

  }
  
.save_button {
    min-width: 100px;
    max-width: 100px;
}
input[type=name] {
    
    color: white;
  }
  input[type=email] {
    
    color: white;
  }
  input[type=password] {
    
    color: white;
  }
   @font-face {
    font-family: "nasalization";
    src: url("../fonts/nasalization-rg.ttf");
 	
}
  .custom {
    width: 100px;
}
div {
     font-family: 'nasalization', sans-serif;
}


.rectangle{
    height: 125px;
    padding: 15px;
     margin: 0 auto;
        
       
border-radius: 10%;
background-color: silver;
}

.yup
{
	max-height: 500px;
}
   
